.dropdownProfile {
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray
}



.dropdownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}